RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|\.woff|woff(2)|css|css1|css2|css3|ttf|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.env - [F,L,NC]
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(|plugins|fonts|lib|vendor|storage|css|js|images)/(.*)$ public/$1/$2 [L,NC]